.BlockListItem {
    width: 75vw;
    margin-bottom: 10px;
}

.itemBlockHash {
    font-size: 1em;
}

.OuterTableCellContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.tableCellContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.etherscanButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px;
}

.marginButton {
    margin-right: 5vw;
    margin-left: 10px;
}

.tableContainer .bqABXJ{
    width: 75vw;
    padding: 15px!important;
}

.bWgcJR {
    height: 110px;
    width: 100%;
    overflow-y: scroll; 
}

.DropDown__StyledDropDown-sc-17zpefi-0.fBoWue {
    width: 100%;
}

@media only screen and (max-width: 1135px) {

    .BlockListItem {
        font-size: 1em;
    }

    .OuterTableCellContent {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .etherscanButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 5px;
    }

    .marginButton {
        margin-right: 0;
        margin-left: 0;
    }

    .tableContainer .bqABXJ{
        width: 75vw;
        padding: 15px!important;
    }
    
    .tableCellContent {
        padding: 0!important;
    }
}

@media only screen and (max-width: 550px) {

    .hideOnMobile {
        display: none;
    }

}