.BlockListItem {
    width: 75vw;
    margin-bottom: 10px;
}

.itemBlockHash {
    font-size: 1em;
}

.tableCellContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.etherscanButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px;
}

.rightButton {
    margin-right: 5vw;
}