.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.headerGroupItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerInnerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currentBlockNumberContainer {
    height: 100%;
}

.currentBlockNumber {
    font-size: 1.8em;
    padding: 8px;
    background-image: linear-gradient(130deg,#00B4E6,#00F0E0);
    border-radius: 3px;
}

.timeAgo {
    font-size: 1.4em;
}