.TransactionInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.transactionText {
    font-size: 1.2em;
}

.transactionInnerContainer {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {
    .transactionText {
        font-size: 1em;
    }

    div.blockList > div > div > table {
        font-size: 0.8em;
    }

    .TransactionInfoContainer {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 550px) {

    .TransactionInfoContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .mobileEtherValues {
        display: flex;
        flex-direction: row;  
    }
}