.TransactionInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.transactionText {
    font-size: 1.2em;
}

.transactionInnerContainer {
    display: flex;
    flex-direction: column;
}